<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.virginia.ece.inertia.besic.mementoopt">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.alarm.permission.SET_ALARM" />




    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <activity
            android:name=".WatchMainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".WatchSensorService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".TagActivity"

            android:launchMode="singleTask" />
        <activity
            android:name=".DataListActivity"

            android:launchMode="singleTask" />
        <activity
            android:name=".TagSelectActivity"

            android:launchMode="singleTask" />
        <activity
            android:name=".DataActivity"

            android:launchMode="singleTask" />
        <activity
            android:name=".ClockfaceActivity"

            android:launchMode="singleTask" />
        <activity
            android:name=".EMAActivity"

            android:launchMode="singleTask" />
        <activity
            android:name=".WaitingRoomActivity"

            android:launchMode="singleTask" />
        <activity
            android:name=".WaitingRoomActivity2"

            android:launchMode="singleTask" />
        <activity
            android:name=".WaitingRoomActivity3"

            android:launchMode="singleTask" />
        <activity
            android:name=".dEMAActivity"

            android:launchMode="singleTask" />
        <activity
            android:name=".EMA2Activity"

            android:launchMode="singleTask" />
        <activity
            android:name=".PainActivity"

            android:launchMode="singleTask" />

        <service
            android:name=".proximityService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".HRSensorService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".StepSensorService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>